body {
    font-family: 'HK Grotesk', sans-serif;
    background-color: #ffeddf;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    background-color: #b71c1c; /* Rojo oscuro */
    color: #fff;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 80%;
    height: auto;
}

.sidebar h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Archivo Black', sans-serif;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar button {
    background-color: #d32f2f; /* Rojo medio */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 5px; /* Esquinas curvas */
    font-family: 'HK Grotesk', sans-serif;
}

.sidebar button:hover {
    background-color: #f44336; /* Rojo claro */
}

.main-content {
    margin-left: 220px;
    padding: 20px;
    background-color: #ffeddf;
}

.main-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    background-color: #b71c1c; /* Rojo oscuro */
    padding: 10px;
    border-radius: 5px; /* Esquinas curvas */
}

.main-content p {
    color: #482e1d; /* Café */
}

form {
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'HK Grotesk', sans-serif;
}

form button {
    background-color: #b71c1c; /* Rojo oscuro */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Esquinas curvas */
    width: auto; /* Ajustar ancho automático */
    padding: 10px 20px; /* Ajustar padding */
}

form button:hover {
    background-color: #f44336; /* Rojo claro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    font-family: 'HK Grotesk', sans-serif;
}

th {
    background-color: #b71c1c; /* Rojo oscuro */
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
}

td form {
    display: inline;
}

td form input[type="text"],
td form input[type="email"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

td form button {
    padding: 5px 10px;
    border-radius: 5px; /* Esquinas curvas */
    width: auto; /* Ajustar ancho automático */
    font-family: 'HK Grotesk', sans-serif;
}
